body{
    width:960px;
    margin: 0 auto;


}
.navbar{
    margin-bottom: 0;

}

.main-content{
    width:960px;
    height:auto;
    float:left;
   min-height: 400px;
    background-color:   cornsilk ;

}
.content{
    width:490px;
    height:auto;
    min-height: 400px;
    float:left;
    padding-right: 10px;

}


.content h3{
  background-color: #098ddf;
}

.sidbar{
    width:460px;
    height:auto;
    float:left;
}
.sidbar1{
    width:460px;
    height:auto;
    float: left;

}
.sidbar1 h2{
    background-color:green;
    padding-left: 30px;
    color:white;
}
.sidbar2{
    width:460px;
    height:auto;
    float: left;

}
.sidbar2 h2{
    background-color: green;
    padding-left: 30px;
    color:white;
}
.content ul{
    list-style: none;
}
.sidbar2 ul{
    list-style: none;
}
.well{

    text-align: center;
    background-color: cornflowerblue;

}
div.pagination{
    padding:3px;
    margin:3px;
    z-index:1000;
    font-size:14px;
    margin-bottom:0;

}
div.pagination a{
    padding:5px 7px;
    margin:2px;
    border:1px solid #0D6B23;
    text-decoration:none;
    background-color:#1DA93E;
    color:#FFF;
    font-weight:bold;
}
div.pagination a:hover, div.pagination a:active{
    border:1px solid #0D6B23;
    color:#FFF;
    background-color:#63BC78;
}
div.pagination span.current{
    padding:5px 7px;
    margin:2px;
    border:1px solid #0D6B23;
    font-weight:bold;
    background-color:#63BC78;
    color:#FFF;
}
div.pagination span.disabled{
    padding:5px 7px;
    margin:2px;
    border:1px solid #929693;
    color:#929693;
}
.success{
    color:green;
    font-weight:bold;
    font-size: 20px;
}

.post.description p{

    padding:0 0 0 15px;
}

.post p{
    width:460px;
    float:left;



}
#posts {
    width: 480px;
    height: auto;
    float: left;
}
.post h2{
    width:400px;
    margin-left:20px;
    margin-top:12px;

}